<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Vero Morera">
    <title>Lemon Code</title>

    <!-- Referenciar CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/lemoncode.css">

</head>
<body>

    <div class="mainContainer">

        <img id="logo" src="https://res.cloudinary.com/veromorera/image/upload/v1574303663/masterFood/logoPSW2-01.jpg">

        <img id="mainImg" src="https://res.cloudinary.com/veromorera/image/upload/v1556071830/Landingpage-03.png">

        <br><br>

        <div class=centerText>
            <h1>¡Hola, somos Lemon Code!</h1>
            <p>
                Somos una empresa costarricense de desarrollo de software,<br> especializada en brindar las mejores experiencias de usabilidad,
                <br> diseño y desarrollo en sus aplicaciones móviles, web, software y IT consulting.
            </p>
            <br><br><br><br>

            <h1>Nuestros Servicios</h1>

            <ul>
                <li>
                    <img class="serviciosImg" src="https://res.cloudinary.com/veromorera/image/upload/v1556074053/logos-04.png">
                    <h3>Desarrollo de <br>Aplicaciones Móviles</h3>
                </li>
                <li>
                    <img class="serviciosImg" src="https://res.cloudinary.com/veromorera/image/upload/v1556074053/logos-05.png">
                    <h3>Desarrollo de <br>Aplicaciones Web y Software</h3>
                </li>
                <li>
                    <img class="serviciosImg" src="https://res.cloudinary.com/veromorera/image/upload/v1556074053/logos-06.png">
                    <h3>Consultoría IT <br> <br></h3>
                </li>
            </ul>


        </div><br><br>

        <div class="mainLabels">Tome la desición correcta. ¡Viva la experiencia <strong>Lemon</strong> ahora!</div>

        <div class=centerText>
            <br>

            <h1>Nuestros Clientes</h1>

            <br>
            <img id="cliente1Img" src="https://res.cloudinary.com/veromorera/image/upload/v1573498967/masterFood/logo.png">

        </div>
        <br /><br />

        <div class="footer">
            <p>
                LemonCode Costa Rica.<br>
                Todos los derechos reservados. 2019
            </p>

        </div>

    </div>
</body>
</html>
