<!DOCTYPE html>
<html>
    <head>
        <title>Pago Membresía</title>
        <meta charset=”utf-8”>

        <!--CSS-->
        <link rel="stylesheet" href="css/reset.css"> <!--reset style-->
        <link rel="stylesheet" href="css/pagoMembresia.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  		<link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
        <meta name=“viewport” content=”width=device-width, initial-scale=1.0”> 

</head>

<body>
	<div class="mainImage1">
				<img id="logo" src="https://res.cloudinary.com/veromorera/image/upload/v1573498967/masterFood/logo.png">

		<header id="header">

				<!--menu completo-->
				<ul>
		            <li><a class="menu" href="#">EL ESPACIO</a></li>
		            <li class="space">&nbsp;&nbsp;&nbsp;&nbsp;</li>
		            <li><a class="menu" href="#">PRODUCTOS</a></li>
		            <li class="space">&nbsp;&nbsp;&nbsp;&nbsp;</li>
		            <li><a class="menu" href="#" >OFERTAS</a></li>
		            <li class="space">&nbsp;&nbsp;&nbsp;&nbsp;</li>
		            <li><a class="menu" href="#">RESERVAS</a></li>
		            <li class="space">&nbsp;&nbsp;&nbsp;&nbsp;</li>
		            <li><a class="menu" href="#">CONTACTO</a></li>                
	            </ul>
			</header>

		</div>


<!---------------------------------------------------------------------------------------------------------------------->
	<section class="pagosContainer">
		<div id="imagenPagos">
			<img id="logo" src="https://res.cloudinary.com/veromorera/image/upload/v1573498968/masterFood/pagoPaypal2.jpg">

		</div>
		<div id="paypal"></div>

	</section>

<!---------------------------------------------------------------------------------------------------------------------->

		<footer id="footer">
			<br>
	        <p >LemonCode 2019 <br><a href="lemonCode.html"> LemonCode WebPage</a></p>
		</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	</body>
</html>
