<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard Cliente</title>
        <meta charset=”utf-8”>

        <!--CSS-->
        <link rel="stylesheet" href="../css/reset.css"> <!--reset style-->
        <link rel="stylesheet" href="../css/dashboardCliente.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  		<link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
        <meta name=“viewport” content=”width=device-width, initial-scale=1.0”> 

</head>

<body>
	<div class="mainImage1">
				<img id="logo" src="https://res.cloudinary.com/veromorera/image/upload/v1573498967/masterFood/logo.png">

		<header id="header">

				<!--menu completo-->
				<ul>
		            <li><a class="menu" href="#">EL ESPACIO</a></li>
		            <li class="space">&nbsp;&nbsp;&nbsp;&nbsp;</li>
		            <li><a class="menu" href="#">PRODUCTOS</a></li>
		            <li class="space">&nbsp;&nbsp;&nbsp;&nbsp;</li>
		            <li><a class="menu" href="#" >OFERTAS</a></li>
		            <li class="space">&nbsp;&nbsp;&nbsp;&nbsp;</li>
		            <li><a class="menu" href="#">RESERVAS</a></li>
		            <li class="space">&nbsp;&nbsp;&nbsp;&nbsp;</li>
		            <li><a class="menu" href="#">CONTACTO</a></li>                
	            </ul>
			</header>

		</div>

<!---------------------------------------------------------------------------------------------------------------------->

	<section class="botInstructions">

		<img class="imgBotInstructions" src="https://res.cloudinary.com/veromorera/image/upload/v1573498965/masterFood/Web_1920_2.png">	

		<h3 id="botTextInstructions">
			Puede seguir el proceso de su pedido 
			<br> a continuación
			<br>¿Algo salió mal? Realice su reclamo <a href=#>AQUI</a>
		</h3>

	</section>

<!---------------------------------------------------------------------------------------------------------------------->

	<section class="options">

		<h1 id="Instruciones">Estado de su Orden</h1>

		<div class="infoImg">
		<img class="imgInstrucciones" src="https://res.cloudinary.com/veromorera/image/upload/v1573498965/masterFood/estadosOrdenes/cliente1_trans1_bw.png" >		
		<p class="Instruciones">Confirmando pedido con el restaurante...</p>
		</div>

		<div class="infoImg">
		<img class="imgInstrucciones" src="https://res.cloudinary.com/veromorera/image/upload/v1573498965/masterFood/estadosOrdenes/cliente2_bw.png" >
		<p class="Instruciones">El restaurante está preparando el pedido...</p>
		</div>

		<div class="infoImg">
		<img class="imgInstrucciones" src="https://res.cloudinary.com/veromorera/image/upload/v1573498965/masterFood/estadosOrdenes/cliente3_rest3_bw.png" >
		<p class="Instruciones">El pedido se entregó al transportista</p>
		</div>	
		<div class="infoImg">
		<img class="imgInstrucciones" src="https://res.cloudinary.com/veromorera/image/upload/v1573498966/masterFood/estadosOrdenes/cliente4_trans3_bw.png" >
		<p class="Instruciones">El transportista está en camino...</p>
		</div>	
		<div class="infoImg">
		<img class="imgInstrucciones" src="https://res.cloudinary.com/veromorera/image/upload/v1573498966/masterFood/estadosOrdenes/cliente5_trans4_bw.png" >
		<p class="Instruciones">El pedido fue entregado a su persona</p>
		</div>	

	</section>

<!---------------------------------------------------------------------------------------------------------------------->
	<section class="tablaContainer">
		<h1>Historial de Pedidos</h1>
	</section>
<!---------------------------------------------------------------------------------------------------------------------->

	<section class="adverticingContainer">
		<img  src="	https://res.cloudinary.com/veromorera/image/upload/v1573498965/masterFood/dashboardCliente.jpg" >

		<h2 id="textDecoForm">
			¡Ahorre un 10% en
			<br>cada compra con
			<br>nuestro servicio de 
			<br>Cash Wallet!
		</h2>
	</section>

<!---------------------------------------------------------------------------------------------------------------------->

		<footer id="footer">
			<br>
	        <p >LemonCode 2019 <br><a href="lemonCode.html"> LemonCode WebPage</a></p>
		</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	</body>
</html>
