<!DOCTYPE html>
<html>
    <head>
        <title>Form Comercio</title>
        <meta charset="utf-8">

        <!--CSS-->
        <link rel="stylesheet" href="../css/reset.css"> <!--reset style-->
        <link rel="stylesheet" href="../css/formComercio.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  		<link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

</head>

<body>
	<div class="mainImage1">
				<img id="logo" src="https://res.cloudinary.com/veromorera/image/upload/v1573498967/masterFood/logo.png">

		<header id="header">

				<!--menu completo-->
				<ul>
		            <li><a class="menu" href="#">EL ESPACIO</a></li>
		            <li class="space">&nbsp;&nbsp;&nbsp;&nbsp;</li>
		            <li><a class="menu" href="#">PRODUCTOS</a></li>
		            <li class="space">&nbsp;&nbsp;&nbsp;&nbsp;</li>
		            <li><a class="menu" href="#" >OFERTAS</a></li>
		            <li class="space">&nbsp;&nbsp;&nbsp;&nbsp;</li>
		            <li><a class="menu" href="#">RESERVAS</a></li>
		            <li class="space">&nbsp;&nbsp;&nbsp;&nbsp;</li>
		            <li><a class="menu" href="#">CONTACTO</a></li>                
	            </ul>
			</header>

				<div class="formContainer">
					<div class="form">
						<h2 id="encabezadoForm">Registrarse como Comercio</h2>
					</div>
					<h2 id="textDecoForm">¡Incremente el 
						<br>público de 
						<br>su negocio
					</h2>
				</div>

		</div>

<!---------------------------------------------------------------------------------------------------------------------->
	<section class="options">
		<img id="separador" src="https://res.cloudinary.com/veromorera/image/upload/v1573498969/masterFood/vegGreenPattern.jpg">
		
		<div class="infoImg">

		<img class="imgInstrucciones" src="https://res.cloudinary.com/veromorera/image/upload/v1573498967/masterFood/informativo_home/paso1.png" >		
		<p class="Instruciones">Incremente su público Elija sus productos favoritos de una variada cantidad de restaurantes </p>
		</div>

					<div class="infoImg">

		<img class="imgInstrucciones" src="https://res.cloudinary.com/veromorera/image/upload/v1573498967/masterFood/informativo_home/paso2.png" >
				<p class="Instruciones">Aumente sus ganancias Realice sus pagos de manera segura a través de PayPal o nuestro sistema de Cash</p>

	</div>
				<div class="infoImg">

		<img class="imgInstrucciones" src="https://res.cloudinary.com/veromorera/image/upload/v1573498967/masterFood/informativo_home/paso3.png" >
				<p class="Instruciones">Requisitos Rastré su orden con nuestro Telegram y califique la experiencia escaneando del código QR del producto</p>

	</div>	
	</section>

<!---------------------------------------------------------------------------------------------------------------------->
	<section class="faqs">
		<h1>Preguntas Frecuentes</h1>

	</section>

<!---------------------------------------------------------------------------------------------------------------------->

		<footer id="footer">
			<br>
	        <p >LemonCode 2019 <br><a href="lemonCode.html"> LemonCode WebPage</a></p>
		</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	</body>
</html>
