

/*---------------------------header-----------------------------*/
#header {
    position: absolute;
    margin-left: 70%;
    margin-top: 25px;
}

.menu {
    text-decoration: none;
    display: none;
}



#logo {
    position: absolute;
    width: auto;
    float: left;
    border-radius: 10px;
    max-width: 70px;
    max-height: 70px;
    margin: 2px 2px;
}


/*--------------------------images----------------------------*/


.mainImage1 {
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
    max-height: 1700px;
    background-color: #272727;
}



img {
    background-size: cover;
    width: 100%;
    display: block;
}


/*---------------------------   form     ------------------------------*/
.formContainer {
    background-image: url(https://res.cloudinary.com/veromorera/image/upload/v1576614526/masterFood/pexels-photo-750843.jpg);
    max-width: 1270px;
    height: 750px;
    background-size: contain;
    margin: 80px 0px 0px 100px;
    border-radius: 20px;
}

.form {
    min-width: 650px;
    height: 710px;
    position: absolute;
    background-color: #fff;
    margin: 20px 0px 0px 600px;
    border-radius: 10px;
}

#textDecoForm {
    color: #fff;
    text-shadow: 4px 4px 3px #272727;
    margin-top: 34%;
    margin-left: 16%;
    font-size: 60px;
    text-align: right;
    position: absolute;
}

#encabezadoForm {
    padding-top: 20px;
    font-family: "Roboto";
    font-size: 30px;
}



.frm {
    margin: 30px 50px;
    text-align: left;
    font-family: "Roboto";
    font-size: 13px
}

#btnRegistrar {
    width: 600px;
    margin-top: 40px;
}


/*--------------------------texto sobre imagen----------------------------*/


.textoSobreImagen {
    padding: 150% 5%;
}

    .textoSobreImagen > p {
        color: #f5f0ed;
        font-family: "Open Sans";
        font-size: 16px;
    }

li {
    float: left;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}

a {
    color: #f5f0ed;
    font-family: "Roboto";
    font-size: 16px;
}


/*------------------formularios------------------*/
#uploadImagesForm{

}

#frmImagenes{
    display: none;
    visibility: hidden;
}

#txtIdRest {
    display: none;
    visibility: hidden;
}

#pic1_container, image_preview {
    margin: 10px;
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
    background-color: dimgrey;
    margin-left: 35%;
}

#pic2_container, #image_preview2 {
    margin: 10px;
    min-height: 200px;
    min-width: 400px;
    max-height: 200px;
    max-width: 620px;
    background-color: dimgrey;
}
