

/*---------------------------header-----------------------------*/

#header {
    position: absolute;
    margin-left: 70%;
    margin-top: 25px;
}

.menu {
    text-decoration: none;
    display: none;
}


#logo {
    position: absolute;
    width: auto;
    float: left;
    border-radius: 10px;
    max-width: 70px;
    max-height: 70px;
    margin: 2px 2px;
}

/*--------------------------images----------------------------*/


.mainImage1 {
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
    max-height: 850px;
    background-color: #272727;
    padding-bottom: 100px;
}



img {
    background-size: cover;
    width: 100%;
    display: block;
}


/*---------------------------   form     ------------------------------*/
.formContainer {
    background-image: url(https://res.cloudinary.com/veromorera/image/upload/v1573498966/masterFood/formCliente.jpg);
    max-width: 1200px;
    height: 690px;
    background-size: cover;
    margin: 60px 0px 0px 150px;
    border-radius: 20px;
}

.form {
    max-width: 650px;
    height: 630px;
    position: absolute;
    background-color: #fff;
    margin: 20px 0px 0px 600px;
    border-radius: 10px;
}

#textDecoForm {
    color: #fff;
    text-shadow: 4px 4px 3px #272727;
    margin-top: -13%;
    margin-left: 28%;
    font-size: 60px;
    text-align: right;
    position: absolute;
}

#encabezadoForm {
    padding-top: 20px;
    font-family: "Roboto";
    font-size: 30px;
}


.left-frm, .right-frm {
    display: inline-block;
    float: left;
    margin-left: 50px;
    margin-top: 15px;
    text-align: left;
    font-family: "Roboto";
    font-size: 13px
}

.right-frm {
    margin-right: 50px;
    margin-top: -20px;
}

.mapaContainer {
    background-color: gray;
    max-width: 100px;
    max-height: 100px;
}


#btnRegistrar {
    width: 200px;
    margin-top: -10px;
}

/*--------------------------texto sobre imagen----------------------------*/

.textoSobreImagen {
    padding: 150% 5%;
}

    .textoSobreImagen > p {
        color: #f5f0ed;
        font-family: "Open Sans";
        font-size: 16px;
    }

li {
    float: left;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}

a {
    color: #f5f0ed;
    font-family: "Open Sans";
    font-size: 16px;
}

.boton {
    border-style: solid;
    border-color: #fff;
    border-width: 3px;
    padding: 15px;
    margin-top: 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #f5f0ed;
    letter-spacing: 1px;
    font-size: 14px;
}
/*--------------------------secciones----------------------------*/


.options {
    height: 550px;
}

#separador {
    position: absolute;
    min-height: 100px;
}

.imgInstrucciones {
    position: absolute;
    max-width: 350px;
    max-height: 350px;
}

.infoImg {
    max-width: 600px;
    display: inline-block;
    text-align: center;
    margin: 80px 200px;
}


.Instruciones {
    position: absolute;
    color: #fff;
    margin-top: 20%;
    margin-left: 100px;
    text-shadow: 2px 2px 3px #272727;
}

/*------------------formularios------------------*/

#txtMapa {
    display: none;
    visibility: hidden;
}

#txtRol, #txtCodigoAsignado, #txtCodigoVerificacion {
    display: none;
    visibility: hidden;
}
